.nav{
	background: green;
	height: 600px;
	font-family: "Book Antiqua";
	font-size: 25px;
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}
.item_wrapper{
	margin-top: 20px;
	text-align: center;
}

.nav a {
	text-decoration: none;
	color: white;
}
.nav{

}

.nav a.active {
	color: gold;
}
.nav a:hover {
	border-bottom: 1px solid white;
}

.friends{
	margin-top: 50px;
}



